# 1. A database for a time-domain survey (Creation of my database)

In [20]:
%pylab
# IPython has a built-in mode to work cleanly with matplotlib figures, this is one way to invoke it.

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [21]:
import sqlite3 as sq
from astropy.table import vstack, Table
import glob
import os
import pandas as pd
import numpy as np
# Import neccessary libraries

In [22]:
import seaborn #nice plots

In [23]:
info = Table.read('/home/juancho/Master/Semester3/DBDM/DDM2017_FinalProject/FinalProject/Q1/Tables/file_info_for_problem.csv',format='ascii.csv')
# Read the information file with the headers of the files (this is my laptop's path to the files)

In [24]:
info
# Simply show the information contained in the tables (not relevant in the process of creating of the table)

<Table length=18>
  ID  FieldID               Filename               ... Airmass Exptime
int64  int64                 str36                 ... float64 float64
----- ------- ------------------------------------ ... ------- -------
    1       1   Z-ADP.2017-01-18T11:58:36.905.fits ...  1.6405    40.0
    2       1   J-ADP.2017-01-18T11:58:35.781.fits ...  1.0105    48.0
    3       1   H-ADP.2017-01-18T11:58:35.780.fits ...   1.006    16.0
    4       1  Ks-ADP.2016-05-25T15:33:39.546.fits ...   1.023    16.0
    5       1  Ks-ADP.2017-01-18T11:58:39.907.fits ...   1.079    16.0
    6       1  Ks-ADP.2016-05-25T15:33:43.377.fits ...  1.6085    16.0
    7       1   Y-ADP.2017-01-18T11:58:36.901.fits ...  1.5605    40.0
    8       2  Z-ADP.2017-01-18T11:58:36.905b.fits ...  1.6405    40.0
    9       2  J-ADP.2017-01-18T11:58:35.781b.fits ...  1.0105    48.0
   10       2  H-ADP.2017-01-18T11:58:35.780b.fits ...   1.006    16.0
   11       2 Ks-ADP.2016-05-25T15:33:39.546b.fits ...   1.023    16.0
   12       2  Y-ADP.2017-01-18T11:58:36.901b.fits ...  1.5605    40.0
   13       3  Z-ADP.2017-01-18T11:58:36.905c.fits ...  1.6405    40.0
   14       3  J-ADP.2017-01-18T11:58:35.781c.fits ...  1.0105    48.0
   15       3  H-ADP.2017-01-18T11:58:35.780c.fits ...   1.006    16.0
   16       3 Ks-ADP.2016-05-25T15:33:39.546c.fits ...   1.023    16.0
   17       3 Ks-ADP.2017-01-18T11:58:39.907c.fits ...   1.079    16.0
   18       3  Y-ADP.2017-01-18T11:58:36.901c.fits ...  1.5605    40.0

In [25]:
files = os.listdir("/home/juancho/Master/Semester3/DBDM/DDM2017_FinalProject/FinalProject/Q1/Tables")

# Create an empty array to add the real name of the files
list2 = []

for names in files:
    if names.endswith(".fits"):
        list2.append(names)

In [26]:
#list2
# Simply show list2 in order to inspect by eye the names so they match (again not too relevant)

In [27]:
# Now, using the Julian date as a reference, I want to match the name of the files with their corresponding filename
# from the table. To do so, I manually match them and create by hand a list with this file and add it to "Info"

names_to_match = ['Field-1-Z','Field-1-J','Field-1-H','Field-1-Ks-E002','Field-1-Ks-E001',
            'Field-1-Ks-E003','Field-1-Y','Field-2-Z','Field-2-J','Field-2-H',
            'Field-2-Ks-E001','Field-2-Y','Field-3-Z','Field-3-J','Field-3-H',
             'Field-3-Ks-E002','Field-3-Ks-E001','Field-3-Y']

In [28]:
info['Real_name'] = names_to_match
# This command adds the new column with the other names of the files to "info"

In [29]:
info
# Simply show the updated Info (with the new column included)

<Table length=18>
  ID  FieldID               Filename               ... Exptime    Real_name
int64  int64                 str36                 ... float64      str15
----- ------- ------------------------------------ ... ------- ---------------
    1       1   Z-ADP.2017-01-18T11:58:36.905.fits ...    40.0       Field-1-Z
    2       1   J-ADP.2017-01-18T11:58:35.781.fits ...    48.0       Field-1-J
    3       1   H-ADP.2017-01-18T11:58:35.780.fits ...    16.0       Field-1-H
    4       1  Ks-ADP.2016-05-25T15:33:39.546.fits ...    16.0 Field-1-Ks-E002
    5       1  Ks-ADP.2017-01-18T11:58:39.907.fits ...    16.0 Field-1-Ks-E001
    6       1  Ks-ADP.2016-05-25T15:33:43.377.fits ...    16.0 Field-1-Ks-E003
    7       1   Y-ADP.2017-01-18T11:58:36.901.fits ...    40.0       Field-1-Y
    8       2  Z-ADP.2017-01-18T11:58:36.905b.fits ...    40.0       Field-2-Z
    9       2  J-ADP.2017-01-18T11:58:35.781b.fits ...    48.0       Field-2-J
   10       2  H-ADP.2017-01-18T11:58:35.780b.fits ...    16.0       Field-2-H
   11       2 Ks-ADP.2016-05-25T15:33:39.546b.fits ...    16.0 Field-2-Ks-E001
   12       2  Y-ADP.2017-01-18T11:58:36.901b.fits ...    40.0       Field-2-Y
   13       3  Z-ADP.2017-01-18T11:58:36.905c.fits ...    40.0       Field-3-Z
   14       3  J-ADP.2017-01-18T11:58:35.781c.fits ...    48.0       Field-3-J
   15       3  H-ADP.2017-01-18T11:58:35.780c.fits ...    16.0       Field-3-H
   16       3 Ks-ADP.2016-05-25T15:33:39.546c.fits ...    16.0 Field-3-Ks-E002
   17       3 Ks-ADP.2017-01-18T11:58:39.907c.fits ...    16.0 Field-3-Ks-E001
   18       3  Y-ADP.2017-01-18T11:58:36.901c.fits ...    40.0       Field-3-Y

In [34]:
# Now that the names match, I can create the database with all the relevant information. I found it easier
# to create a big data table because there are variables that can filter out any object with a simple SQL querie.
# My database is called "All_data"

# I create an empty table and read the files that have the information that I will add to that table
All_data = Table()

# The ID, Filter and FieldID are the variables that my new database and info have in common so I can
# use them to create the table and include all the information. 

for ii,files in enumerate(names_to_match):
    Files = Table.read('/home/juancho/Master/Semester3/DBDM/DDM2017_FinalProject/FinalProject/Q1/Tables/'+str(files)+'.fits',format='fits')
    for jj,alloc in enumerate(info):
        if alloc['Real_name']  == files:
            Files['ID']         = np.ones(len(Files))*alloc['ID']
            Files['Filter']     = alloc['Filter']
            Files['FieldID']    = alloc['FieldID']
                        
    # Stack all the data to the table
    All_data = vstack([All_data,Files])

In [32]:
# With this line I just want to include a column with the S/N calculated from Flux1/dFlux1 beacuse it is 
# useful to have it there.

All_data['SN'] = All_data["Flux1"]/All_data["dFlux1"]

In [33]:
All_data
# Display the current contents of the table "All_data"

<Table masked=True length=180000>
RunningID    X       Y     Flux1    dFlux1 ...    ID   Filter FieldID    SN
  Number   Pixels  Pixels   ADU      ADU   ...
 float32  float32 float32 float32  float32 ... float64  str2   int64  float32
--------- ------- ------- -------- ------- ... ------- ------ ------- -------
      9.0 6676.62 5.03455  2886.02 145.136 ...    18.0      Z       1  19.885
     13.0 6841.46 5.31207   2585.4 144.623 ...    18.0      Z       1 17.8769
     15.0 6355.06 5.88212  2765.64 145.052 ...    18.0      Z       1 19.0665
     19.0 5897.49 7.52958  899.127 138.445 ...    18.0      Z       1 6.49449
     22.0 5809.89 6.13442  3412.75 140.556 ...    18.0      Z       1 24.2803
     14.0 6874.91 5.43629  4129.01 145.694 ...    18.0      Z       1 28.3403
     12.0  6571.8 5.21043  3762.78 145.753 ...    18.0      Z       1 25.8161
     17.0 6580.03 6.52743  2046.26 144.553 ...    18.0      Z       1 14.1558
     25.0 5442.76 5.51923  7346.58 142.742 ...    18.0      Z       1 51.4674
      ...     ...     ...      ...     ... ...     ...    ...     ...     ...
 454501.0 8370.25 8615.65  5359.49 173.434 ...    18.0      Y       3 30.9022
 454649.0 381.916 8612.85  6413.47 167.012 ...    18.0      Y       3 38.4013
 454534.0 4286.15 8616.46  5220.01  162.35 ...    18.0      Y       3 32.1529
 454663.0 11292.2 8620.43  1401.12 170.557 ...    18.0      Y       3 8.21498
 454734.0 10918.6 8608.29  6618.59 173.542 ...    18.0      Y       3 38.1382
 454737.0 10926.7 8608.75  4041.84 172.073 ...    18.0      Y       3 23.4891
 454597.0 12382.2 8619.43  1680.92  170.13 ...    18.0      Y       3 9.88023
 452672.0 9522.55 8569.37  73577.5 208.132 ...    18.0      Y       3 353.514
 453716.0  9509.0 8579.43   2393.7 170.707 ...    18.0      Y       3 14.0223
 453717.0 9514.23 8593.98 206286.0 263.814 ...    18.0      Y       3 781.938

In [157]:
# In principle this database contains all the information that one may need for the requested queries and for 
# further data analysis. But, given the characteristic of the queries and the not-so straightforward handling
# of SQl, I will include some colours that I will use later on. (This makes the SQL queries easier and faster)

#First, I identify the objects that have magnitudes in the H,J and Y filters.

All_dataH = All_data[All_data["Filter"]=="H"]
All_dataJ = All_data[All_data["Filter"]=="J"]
All_dataY = All_data[All_data["Filter"]=="Y"]

#Then I simply calculate the colours

All_dataJH = All_dataJ["Mag1"][All_dataJ["StarID"] == All_dataH["StarID"]] - All_dataH["Mag1"][All_dataJ["StarID"] == All_dataH["StarID"]]
All_dataYJ = All_dataY["Mag1"][All_dataY["StarID"] == All_dataJ["StarID"]] - All_dataJ["Mag1"][All_dataY["StarID"] == All_dataJ["StarID"]]

In [158]:
#I create a new table in which I will include the colours and some more information for further analysis

Colours = Table()

# I add the useful information in this new table, that is, the ID, StarID, FieldID, ClassH, ClassJ, ClassY, JH colour 
# and YJ colour

Colours['ID']           = All_dataY["ID"][All_dataY["StarID"]      == All_dataJ["StarID"]]
Colours['StarID']       = All_dataY["StarID"][All_dataY["StarID"]  == All_dataJ["StarID"]]
Colours['FieldID']      = All_dataY["FieldID"][All_dataY["StarID"] == All_dataJ["StarID"]]
Colours['Class_flag_H'] = All_dataH["Class"][All_dataH["StarID"]   == All_dataJ["StarID"]]
Colours['Class_flag_J'] = All_dataJ["Class"][All_dataJ["StarID"]   == All_dataH["StarID"]]
Colours['Class_flag_Y'] = All_dataY["Class"][All_dataY["StarID"]   == All_dataJ["StarID"]]
Colours['JH_colour']    = All_dataJH
Colours['YJ_colour']    = All_dataYJ

Colours
#Show the new table with the colours

<Table masked=True length=30000>
   ID   StarID FieldID Class_flag_H ... Class_flag_Y JH_colour YJ_colour
                           Flag     ...     Flag
float64 int64   int64    float32    ...   float32     float32   float32
------- ------ ------- ------------ ... ------------ --------- ----------
    7.0      0       1         -1.0 ...          1.0   2.45078  -0.697231
    7.0      1       1         -1.0 ...          1.0   2.19091  -0.245317
    7.0      2       1         -1.0 ...          1.0   1.94639  -0.305107
    7.0      3       1         -1.0 ...         -1.0   1.49642  -0.102165
    7.0      4       1          0.0 ...         -1.0   1.57273  -0.264221
    7.0      5       1         -1.0 ...          1.0   2.34517  -0.529789
    7.0      6       1          0.0 ...          1.0   2.05666  -0.656755
    7.0      7       1         -1.0 ...         -1.0   1.84886  -0.136379
    7.0      8       1         -1.0 ...         -1.0  0.996487    -1.0584
    ...    ...     ...          ... ...          ...       ...        ...
   18.0 309990       3          1.0 ...          1.0   1.28304  -0.141216
   18.0 309991       3         -1.0 ...         -1.0   1.53788 -0.0191422
   18.0 309992       3         -1.0 ...         -1.0   1.44629  -0.104012
   18.0 309993       3         -1.0 ...         -1.0   1.44094  -0.201639
   18.0 309994       3         -1.0 ...         -1.0   1.36176  -0.173378
   18.0 309995       3          1.0 ...          1.0   1.01842   -0.36426
   18.0 309996       3         -1.0 ...         -1.0   1.41693  -0.301901
   18.0 309997       3         -1.0 ...         -1.0  0.954065 -0.0473146
   18.0 309998       3         -1.0 ...          1.0   1.42243  -0.147293
   18.0 309999       3         -1.0 ...         -1.0 -0.159562  -0.561213

In [159]:
# In this part I wanted to include some colours in my big table, but it is not very 
# helpful and it's not what a real database would contain. Instead, I will focus on doing my queries using the 
# other table that I created specifically for the colours.

#In any case, the code that could in principle include those colours in my big table is the following (although
#it's very ineficient'):

#for j in range (0, len(Colours)):
#    for i in range (0, len(All_data)):
#        if (All_data["StarID"][i] == Colours["StarID"][j]):
#            #print(Colours["JH_colour"][j])
#            All_data['JH_colour'][i] = Colours["JH_colour"][j]
#        else:
#            All_data['JH_colour'][i] = 0

In [160]:
# Move the data frame to pandas

All_data_df = All_data.to_pandas()
info_df     = info.to_pandas()
Colours_df  = Colours.to_pandas()

In [161]:
#Schemas: I need three different schemas for the three different tables:

info_schema     = """CREATE TABLE info (ID INT, FieldID INT, Filename VARCHAR(50), Filter VARCHAR(5), MJD DOUBLE, 
                Airmass DOUBLE, Exptime DOUBLE, Real_name VARCHAR(50) UNIQUE(ID), PRIMARY KEY(ID, MJD),
                FOREIGN KEY(FieldID))"""

Colours_schema  = """CREATE TABLE Colours (ID INT, StarID INT, FieldID INT, ClassH, ClassJ INT, ClassY INT, 
                colorJH DOUBLE, colorYJ DOUBLE, UNIQUE(StarID), PRIMARY KEY(StarID), FOREIGN KEY(FieldID))"""

All_data_schema = """CREATE TABLE All_data (RunningID INT, X DOUBLE, Y DOUBLE, Flux1 DOUBLE, dFlux1 DOUBLE, 
                Flux2 DOUBLE, dFlux2 DOUBLE, Flux3 DOUBLE, dFlux3 DOUBLE, Ra DOUBLE, Dec DOUBLE, Class INT, 
                Mag1 DOUBLE, dMag1 DOUBLE, Mag2 DOUBLE, dMag2 DOUBLE, Mag3 DOUBLE, dMag3 DOUBLE, StarID INT, 
                ID INT, Filter VARCHAR(5), FieldID DOUBLE, SN DOUBLE, PRIMARY KEY(StarID), FOREIGN KEY(FieldID, ID))"""

In [162]:
Name_database = 'Database_Juan.db'

con = sq.connect(Name_database)

# And create the tables into the Database
All_data_df.to_sql('All_data', con, schema=All_data_schema, if_exists='replace')
info_df.to_sql('info', con, schema=info_schema, if_exists='replace')
Colours_df.to_sql('Colours', con, schema=Colours_schema, if_exists='replace')